div.content_wrap {
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    background-color: aliceblue;
    padding: 1%;
    padding-top: 2%;
}
div.content_margin_top {
    height: 5%;
}
div.header_top {
    height: 1%;
    width: 100%;
    background-color: gray;
    position: fixed;
}
div.header {
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    margin-top: 0.5%;
    background-color: darkorange;
    position: fixed;
    width: 100%;
}
div.stretched {
    height: 100%;
}
body.fixed {
    position: fixed;
}
div.avatar {
    cursor: pointer;
    width : 300px;
    height: 400px;
}
img.avatar_img {
    all: inherit;
}
div#pond {
    all: inherit;
    display: none;
}
div.form_buttons div {
    display: inline;
}
div.data_form {
    all: inherit;
    position: relative;
    margin-top: 350px;
}
body, html {
    background-color: gray;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
div.context_button {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
button.menu_button {
    height: 5%;
    width: 10%;
}