<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
        <link type="text/css" rel="stylesheet" th:href="@{/css/fileUpload.css}">
        <script type="text/javascript" th:src = "@{/js/jquery-3.4.1.js}"></script>
        <script type="text/javascript" th:src = "@{/js/scripts.js}"></script>
    </head>
    <body>
        <div th:replace="fragments::user_header (${#execInfo.templateName})"></div>
        <div class="content_wrap">
            <h1 align="center">Here, you can update information about yourself.</h1>
            <span>Profile picture</span>
            <form id="upload-container" method="post" th:action="${avatarMethod}" enctype="multipart/form-data">
                <input id="callbackURI" type="hidden" th:value="${callbackURI}">
                <div>
                    <input id="file-input" type="file" name="file" accept="image/jpeg, image/png">
                    <label for="file-input">Select a file or drag it
                        <img class="avatar_img" th:src="${avatarURI}" alt="Image not found">
                    </label>
                </div>
            </form>
            <form th:id="${#execInfo.templateName}" action="#" th:action = "@{/home/editProfile}" th:object="${user}" method="post">
                <div id="edit_profile_validation" class="validation_block">
                    <div>
                        <span>Your name</span>
                        <input type="text" maxlength="20" th:field="*{name}"/>
                    </div>
                    <div>
                        <span>Your surname</span>
                        <input type="text" maxlength="30" th:field="*{surname}"/>
                    </div>
                    <div>
                        <span>You can write something about yourself here</span>
                        <textarea class="about" th:field="*{about}" maxlength="100" rows="5" placeholder="Tell us who you are"></textarea>
                    </div>
                </div>
                <div th:replace="fragments::user_formButtons ('Save', ${#execInfo.templateName})"></div>
            </form>
        </div>
    </body>
</html>