<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <h1 align="center">Find users</h1>
        <div th:replace="fragments::buttons-menu (${userId})"></div>
        <form id="findUsers" action="#" th:action = "@{/user/id={id}/findUsers (id=${userId})}" method="post">
            <table>
                <tr>
                    <td>
                        <p>
                            <input type="text" maxlength="20" placeholder="name" th:field="${userInfo.name}">
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <input type="text" maxlength="30" placeholder="surname" th:field="${userInfo.surname}">
                        </p>
                    </td>
                </tr>
            </table>
            <div th:replace="fragments::form-buttons (${userId}, 'Find', 'findUsers')"></div>
        </form>
    </body>
</html>