<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
    <body>
    <!--                    ************************ FOR AUTHORIZED USER *************************-->
        <div th:fragment="user_header (templateName)" class="content_margin_top">
            <div class="header_top"></div>
            <div class="header">
                <table align="center">
                    <tr>
                        <td th:if="${#strings.equals(templateName, 'user_showUsers')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\'/home/findUsers\''">Back</button>
                            </div>
                        </td>
                        <td th:if="${#strings.equals(templateName, 'user_showUser')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\'/home/findUsers\''">Back</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'publication')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                        + @{/home/publication/create?prior={path} (path=${path})} + '\''">Create publication</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'editProfile')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                     + @{/home/editProfile?prior={path} (path=${path})} + '\''">Edit profile</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'user_findUsers')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                     + @{/home/findUsers?prior={path} (path=${path})} + '\''">Find users</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'home')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                                         + @{/home?prior={path} (path=${path})} + '\''">Home page</button>
                            </div>
                        </td>
                        <td>
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                                     + @{/home/logout} + '\''">Log out</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--                    ************************ FOR GUEST USER *************************-->
        <div th:fragment="guest_header (templateName)" class="content_margin_top">
            <div class="header_top"></div>
            <div class="header">
                <table align="center">
                    <td th:if="${#strings.equals(templateName, 'guest_showUsers')}">
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\''
                                                     + @{/guest/findUsers} + '\''">Back</button>
                        </div>
                    </td>
                    <td th:if="${#strings.equals(templateName, 'guest_showUser')}">
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\''
                                                     + @{/guest/findUsers} + '\''">Back</button>
                        </div>
                    </td>
                    <td th:if="${#strings.equals(templateName, 'registrationSuccess')}">
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\''
                                                     + @{/guest/signUp} + '\''">Back</button>
                        </div>
                    </td>
                    <td th:if="${not #strings.equals(templateName, 'signUp')}">
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\'/guest/signUp\''">Create account</button>
                        </div>
                    </td>
                    <td th:if="${not #strings.equals(templateName, 'guest_findUsers')}">
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\''
                                     + @{/guest/findUsers?prior={path} (path=${path})} + '\''">Find users</button>
                        </div>
                    </td>
                    <td th:if="${not #strings.equals(templateName, 'login')}">
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\'/guest/login\''">Log in</button>
                        </div>
                    </td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:fragment="user_formButtons (submitLabel, templateName)">
            <div class="form_buttons">
                <div class="context_button">
                    <button type="submit" th:form="${templateName}" th:text="${submitLabel}"></button>
                </div>
                <div class="context_button">
                    <div th:switch="${templateName}">
                        <button th:case="'publication'" type="button" th:onclick="'location.href=\''
                                                     + @{/home} + '\''">Back</button>
                        <button th:case="'editProfile'" type="button" th:onclick="'location.href=\''
                                                     + @{/home} + '\''">Back</button>
                        <button th:case="'findUsers'" type="button" th:onclick="'location.href=\''
                                                     + @{/home} + '\''">Back</button>
                        <!--                        <button th:case="'showUsers'" type="button" th:onclick="'location.href=\''-->
                        <!--                                             + @{/home/findUsers} + '\''">Back</button>-->
                        <!--                        <button th:case="'showUserPage'" type="button" th:onclick="'location.href=\''-->
                        <!--                                             + @{/home/users} + '\''">Back</button>-->
                        <button th:case="'signUp'" type="button" th:onclick="'location.href=\'/guest/login\''">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <div th:fragment="guest_formButtons (submitLabel, templateName)">
            <div class="form_buttons">
                <div class="context_button">
                    <button class="submit_btn" type="submit" th:form="${templateName}" th:text="${submitLabel}"></button>
                </div>
                <div class="context_button">
                    <button type="button" th:onclick="'location.href=\'/guest/login\''">Back</button>
                </div>
            </div>
        </div>
        <!--        <div th:fragment="user_formButtons (submitLabel, templateName, backURI)">-->
        <!--            <div class="form_buttons">-->
        <!--                <div class="context_button">-->
        <!--                    <button type="submit" th:form="${templateName}" th:text="${submitLabel}"></button>-->
        <!--                </div>-->
        <!--                <div th:if="${not #strings.isEmpty(backURI)}" class="context_button">-->
        <!--                    <button type="button" th:onclick="'location.href=\'' + @{{backURI} (backURI=${backURI})} + '\''">Back</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div th:fragment="publications (publicationWrappers, ownerId)">
            <div class="publications">
                <div th:each="wrapper : ${publicationWrappers}" class="publication">
                    <table>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${wrapper.publication.title}"></label></td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${wrapper.publication.content}"></label></td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td><label th:text="${wrapper.localDateTimeString}"></label></td>
                        </tr>
                    </table>
                    <div th:if="${#strings.isEmpty(ownerId)}" class="form_buttons">
                        <div class="context_button">
                            <button class="context_button" type="button" th:onclick="'location.href=\''
                                         + @{/home/publication/{pubId}/view (pubId=${wrapper.encryptedID})}
                                         + '\''">
                                View
                            </button>
                        </div>
                        <div class="context_button">
                            <button class="context_button" type="button" th:onclick="'location.href=\''
                                         + @{/home/publication/{pubId}/edit (pubId=${wrapper.encryptedID})}
                                         + '\''">
                                Edit
                            </button>
                        </div>
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\''
                                         + @{/home/publication/{pubId}/delete (pubId=${wrapper.encryptedID})}
                                         + '\''">
                                Delete
                            </button>
                        </div>
                    </div>
                    <div th:if="${not #strings.isEmpty(ownerId)}" class="form_buttons">
                        <div class="context_button">
                            <button class="context_button" type="button" th:onclick="'location.href=\''
                                         + @{/home/user/{id}/publication/{pubId}/view (id=${ownerId}, pubId=${wrapper.encryptedID})}
                                         + '\''">
                                View
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div th:fragment="footer">
            <div class="footer">
                <div>
                    <span>Copyright © localhost, 1941-2020. All rights reserved.</span>
                </div>
                <div>
                    <div>
                        <span>Contact: </span>
                    </div>
                    <div>
                        <a href="https://vk.com/eckalid">
                            <span>VK</span>
                        </a>
                    </div>
                    <div>
                        <span>eckalibyr225@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>