<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div th:fragment="header (userId, templateName)">

            <div class="header">
                <table align="center">
<!--                    ************************ FOR AUTHORIZED USER *************************-->
                    <tr th:if="${not #strings.isEmpty(userId)}">
                        <td th:if="${#strings.equals(templateName, 'showUsers')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                             + @{/user/id={userId}/findUsers (userId=${userId})} + '\''">Back</button>
                            </div>
                        </td>
                        <td th:if="${#strings.equals(templateName, 'showUserPage')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                             + @{/user/id={userId}/findUsers (userId=${userId})} + '\''">Back</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'createPublication')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                + @{/user/id={userId}/createPublication?prior={path} (userId=${userId}, path=${path})} + '\''">Create publication</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'editProfilePage')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                             + @{/user/id={userId}/editProfile?prior={path} (userId=${userId}, path=${path})} + '\''">Edit profile</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'findUsers')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                             + @{/user/id={userId}/findUsers?prior={path} (userId=${userId}, path=${path})} + '\''">Find users</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'home-page')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                                 + @{/user/id={userId}?prior={path} (userId=${userId}, path=${path})} + '\''">Home page</button>
                            </div>
                        </td>
                        <td>
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\'/logout\''">Log out</button>
                            </div>
                        </td>
                    </tr>
<!--                    ************************ FOR GUEST USER *************************-->
                    <tr th:if="${#strings.isEmpty(userId)}">
                        <td th:if="${#strings.equals(templateName, 'showUsers')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                             + @{/guest/findUsers} + '\''">Back</button>
                            </div>
                        </td>
                        <td th:if="${#strings.equals(templateName, 'showUserPage')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                             + @{/guest/findUsers} + '\''">Back</button>
                            </div>
                        </td>
                        <td th:if="${#strings.equals(templateName, 'registration-success')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                                             + @{/guest/sign-up} + '\''">Back</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'findUsers')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\''
                             + @{/guest/findUsers?prior={path} (path=${path})} + '\''">Find users</button>
                            </div>
                        </td>
                        <td th:if="${not #strings.equals(templateName, 'login')}">
                            <div class="context_button">
                                <button type="button" th:onclick="'location.href=\'/login\''">Log in</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:fragment="form-buttons (userId, submitLabel, templateName)">
            <div class="form_buttons">
                <div class="context_button">
                    <button type="submit" th:form="${templateName}" th:text="${submitLabel}"></button>
                </div>
                <div class="context_button">
                    <div th:if="${not #strings.isEmpty(userId)}" th:switch="${templateName}">
                        <button th:case="'createPublication'" type="button" th:onclick="'location.href=\''
                                             + @{/user/id={userId} (userId=${userId})} + '\''">Back</button>
                        <button th:case="'editProfilePage'" type="button" th:onclick="'location.href=\''
                                             + @{/user/id={userId} (userId=${userId})} + '\''">Back</button>
                        <button th:case="'findUsers'" type="button" th:onclick="'location.href=\''
                                             + @{/user/id={userId} (userId=${userId})} + '\''">Back</button>
<!--                        <button th:case="'showUsers'" type="button" th:onclick="'location.href=\''-->
<!--                                             + @{/user/id={userId}/findUsers (userId=${userId})} + '\''">Back</button>-->
<!--                        <button th:case="'showUserPage'" type="button" th:onclick="'location.href=\''-->
<!--                                             + @{/user/id={userId}/showUsers (userId=${userId})} + '\''">Back</button>-->
                        <button th:case="'sign-up'" type="button" th:onclick="'location.href=\'/login\''">Back</button>
                    </div>
                    <div th:if="${#strings.isEmpty(userId)}">
                        <button type="button" th:onclick="'location.href=\'/login\''">Back</button>
                    </div>
                </div>
            </div>
        </div>
<!--        <div th:fragment="form-buttons (userId, submitLabel, templateName, backURI)">-->
<!--            <div class="form_buttons">-->
<!--                <div class="context_button">-->
<!--                    <button type="submit" th:form="${templateName}" th:text="${submitLabel}"></button>-->
<!--                </div>-->
<!--                <div th:if="${not #strings.isEmpty(backURI)}" class="context_button">-->
<!--                    <button type="button" th:onclick="'location.href=\'' + @{{backURI} (backURI=${backURI})} + '\''">Back</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </body>
</html>