<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <h1 align="center" th:text="'Welcome to your home page, ' + ${user.name} + '!'"></h1>
        <div align="right">
            <ul class="menu">
                <li>
                    <div class="context_button">
                        <button type="button" th:onclick="'location.href=\''
                        + @{/user/id={userId}/createPublication (userId=${user.id})} + '\''">Create publication</button>
                    </div>

                </li>
                <li>
                    <div class="context_button">
                        <button type="button" th:onclick="'location.href=\''
                        + @{/user/id={userId}/editProfile (userId=${user.id})} + '\''">Edit profile</button>
                    </div>

                </li>
                <li>
                    <div class="context_button">
                        <button type="button" th:onclick="'location.href=\''
                        + @{/user/id={userId}/findUsers (userId=${user.id})} + '\''">Find users</button>
                    </div>

                </li>
                <li>
                    <!--<button type="button" th:onclick="'location.href=\''-->
                     <!--+ @{/logout} + '\''">Log out</button>-->
                    <div class="context_button">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit">Log out</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <table>
            <tr>
                <td><img id="userAvatar" th:src="${avatarURL}" width="300" height="400"></td>
            </tr>
            <tr>
                <td><label th:text="${user.name} + ' ' + ${user.surname}"></label></td>
            </tr>
            <tr>
                <td>About: <label th:text="${user.about}"></label></td>
            </tr>
        </table>

        <h3 align="center">Your publications</h3>
        <table th:each="publication : ${publications}">
            <tr>
                <td>Title:</td>
            </tr>
            <tr>
                <td><label th:text="${publication.title}"></label></td>
            </tr>
            <tr>
                <td>Text:</td>
            </tr>
            <tr>
                <td><label th:text="${publication.content}"></label></td>
            </tr>
            <tr>
                <td><label th:text="${publication.dateTime}"></label></td>
            </tr>
            <tr>
                <td>
                    <button class="context_button" type="button" th:onclick="'location.href=\''
                     + @{/user/id={userId}/deletePublication/id={pubId} (userId=${user.id}, pubId=${publication.id})}
                     + '\''">Delete this publication</button>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
        </table>
    </body>
</html>