<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
        <script type="text/javascript"th:src = "@{/js/jquery-3.4.1.js}"></script>
        <script type="text/javascript"th:src = "@{/js/scripts.js}"></script>
    </head>
    <body>
        <div th:replace="fragments::guest_header (${#execInfo.templateName})"></div>
        <div class="content_wrap">
            <div align="center">
                <h1>Welcome to blog</h1>
                <form th:id="${#execInfo.templateName}" th:action="@{/guest/login}" method="post" th:object="${user}">
                    <table>
                        <tr>
                            <td>
                                <label>Username</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="username"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Password</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password" name="password"/>
                            </td>
                        </tr>
                    </table>
                    <div class="context_button">
                        <button type="submit" th:form="${#execInfo.templateName}">Log in</button>
                    </div>
                </form>
                <div th:if="${param.error}">
                    Incorrect username or password!
                </div>
                <div th:if="${param.logout}">
                    You have successfully logged out
                </div>
            </div>
        </div>
        <div th:replace="fragments::footer"></div>
    </body>
</html>