<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
        <script type="text/javascript"th:src = "@{/js/jquery-3.4.1.js}"></script>
        <script type="text/javascript"th:src = "@{/js/scripts.js}"></script>
    </head>
    <body>
        <div th:replace="fragments::user_header (${#execInfo.templateName})"></div>
        <div class="content_wrap">
            <div th:switch="${mode}">

                <div th:case="'create'">
                    <h1 align="center">Create publication</h1>
                    <form th:id= "${#execInfo.templateName}" action="#" th:action = "@{/user/publication/create}" th:object="${publicationForm}" method="post">
                        <p>
                            <textarea cols="50" rows="1" maxlength="50" placeholder="Write title here" th:field="*{title}"></textarea>
                        </p>
                        <p>
                            <textarea cols="100" rows="5" maxlength="500" placeholder="Write text here" th:field="*{content}"></textarea>
                        </p>
                        <div th:replace="fragments::user_formButtons ('Save', ${#execInfo.templateName})"></div>
                    </form>
                </div>

                <div th:case="'edit'">
                    <h1 align="center">Edit publication</h1>
                    <form th:id= "${#execInfo.templateName}" action="#" th:action = "@{/user/publication/{pubId}/edit (pubId=${pubId})}" th:object="${publicationForm}" method="post">
                        <p>
                            <textarea cols="50" rows="1" maxlength="50" placeholder="Write title here" th:field="*{title}"></textarea>
                        </p>
                        <p>
                            <textarea cols="100" rows="5" maxlength="500" placeholder="Write text here" th:field="*{content}"></textarea>
                        </p>
                        <div th:replace="fragments::user_formButtons ('Save', ${#execInfo.templateName})"></div>
                    </form>
                </div>

                <div th:case="'view'">
                    <h1 align="center">View publication</h1>
                    <p>
                        <label th:text="${publicationWrapper.publication.title}"></label>
                    </p>
                    <p>
                        <label th:text="${publicationWrapper.publication.content}"></label>
                    </p>
                    <p>
                        <label th:text="${publicationWrapper.localDateTimeString}"></label>
                    </p>
                    <div th:if="${#strings.isEmpty(ownerId)}" class="form_buttons">
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\'' + @{/user/publication/{pubId}/edit (pubId=${pubId})} + '\''">
                                Edit
                            </button>
                        </div>
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\'' + @{/user/publication/{pubId}/delete (pubId=${pubId})} + '\''">
                                Delete
                            </button>
                        </div>
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\'' + @{/user} + '\''">
                                Back
                            </button>
                        </div>
                    </div>
                    <div th:if="${not #strings.isEmpty(ownerId)}" class="form_buttons">
                        <div class="context_button">
                            <button type="button" th:onclick="'location.href=\'' + @{/user/showUser/{id} (id=${ownerId})} + '\''">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>