<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="charset=UTF-8" />
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
        <script type="text/javascript"th:src = "@{/js/jquery-3.4.1.js}"></script>
        <script type="text/javascript"th:src = "@{/js/scripts.js}"></script>
    </head>
    <body>
        <div th:replace="fragments::guest_header (${#execInfo.templateName})"></div>
        <div class="content_wrap">
            <div align="center">
                <input id="user-id" type="hidden" th:value="${user.Id}"/>
                <h1 th:text="'Congratulations, ' + ${user.name} +
             ' ' + ${user.surname} + '! You managed to create account!'"></h1>
                <h2>Now, you can log in with your login and password.</h2>
                <div>
                    <img width="600" height="400" th:src="${welcomeURI}">
                </div>
            </div>
        </div>
    </body>
</html>