<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1 align="center" th:text="'Congratulations, ' + ${user.name} +
         ' ' + ${user.surname} + '! You managed to create account!'"></h1>
        <h2 align="center">Go to <a th:href="@{/sign-in}">log-in page</a>.</h2>
        <div align="center">
            <img width="600" height="400" src="../static/img/welcome.gif" th:src="@{/img/welcome.gif}">
        </div>
    </body>
</html>