<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="#" th:action = "@{/sign-in}" th:object="${verificationForm}" method="post">
            <table>
                <tr>
                    <td>Login </td>
                    <td><input type="text" maxlength="20" th:field="*{userLogin}"/> </td>
                    <td th:if="${#fields.hasErrors('userLogin')}" th:errors="*{userLogin}">Login length must be from 5 to 20 symbols</td>
                </tr>
                <tr>
                    <td>Password </td>
                    <td><input type="password" maxlength="30" th:field="*{userPassword}"/></td>
                    <td th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Password length must be from 5 to 30 symbols</td>
                </tr>
                <tr>
                    <td><button type="submit">Sign in</button></td>
                </tr>
            </table>
        </form>
        <div th:if="${param.error}">
            Incorrect username or password!
        </div>
    </body>
</html>