<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div th:replace="fragments::header (null, ${#execInfo.templateName})"></div>
        <div class="content_wrap" align="center">
            <form id="sign-up" action="#" th:action = "@{/guest/sign-up}" th:object="${registrationForm}" method="post">
                <table>
                    <tr>
                        <td>Your login </td>
                        <td><input type="text" th:field="*{userLogin}"/> </td>
                        <td th:if="${#fields.hasErrors('userLogin')}" th:errors="*{userLogin}">Login length must be from 5 to 20 symbols</td>
                    </tr>
                    <tr>
                        <td>Your password </td>
                        <td><input type="password" th:field="*{userPassword}"/></td>
                        <td th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Password length must be from 5 to 30 symbols</td>
                    </tr>
                    <tr>
                        <td>Your name </td>
                        <td><input type="text" th:field="*{userName}"/></td>
                        <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name length must be from 1 to 20 symbols</td>
                    </tr>
                    <tr>
                        <td>Your surname </td>
                        <td><input type="text" th:field="*{userSurname}"/></td>
                        <td th:if="${#fields.hasErrors('userSurname')}" th:errors="*{userSurname}">Surname length must be from 1 to 30 symbols</td>
                    </tr>
                    <tr>
                        <td>You can write something about yourself here </td>
                        <td><input type="text" th:field="*{userAbout}"/></td>
                        <td th:if="${#fields.hasErrors('userAbout')}" th:errors="*{userAbout}">Field length must not be more than 100 symbols</td>
                    </tr>
                </table>
                <div th:replace="fragments::form-buttons (null, 'Sign up', ${#execInfo.templateName})"></div>
            </form>
        </div>
    </body>
</html>