<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
        <script type="text/javascript"th:src = "@{/js/jquery-3.4.1.js}"></script>
        <script type="text/javascript"th:src = "@{/js/scripts.js}"></script>
    </head>
    <body>
        <div th:replace="fragments::user_header (${#execInfo.templateName})"></div>
        <div class="content_wrap">
            <h3 align="center">Found users</h3>
            <table th:each="wrapper : ${userWrappers}">
                <tr>
                    <td>
                        <div>
                            <img class="avatar_img" th:src="${wrapper.avatarURI}" alt="Image not found">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label th:text="${wrapper.user.name} + ' ' + ${wrapper.user.surname}"></label></td>
                </tr>
                <tr>
                    <td>About: <label th:text="${wrapper.user.about}"></label></td>
                </tr>
                <tr>
                    <td>
                        <button class="context_button" type="button" th:onclick="'location.href=\''
                             + @{/home/user/{id} (id=${wrapper.encryptedID})}
                              + '\''">View page</button>
                    </td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
            </table>
        </div>
    </body>
</html>